/bin/
/CompressMln/.vs/
*.db
*.bff
*.fdb
/CompressMln/CompressMln/Debug/
/CompressMln/CompressMln/Release/
*.zip
/CompressMln/Debug/
/CompressMln/Release/
/CompressMln/CompressMln/fb.bat
*.ipch
*.gdv
*Debug_Unpack*
*Release_Unpack*
*/Debug/*
*/Debug/*
*Debug*
